# Xcode
*.xcuserstate
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# JetBrains IDEs
.idea/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock
